<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fanfic Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <form class="form" method="post">
            <h1 class="form-title">Fanfic to PDF Downloader</h1>
            
            <div class="form-group">
                <label for="site">Choose a website:</label>
                <select name="site" id="site">
                    <option value="fanfiction">FanFiction.net</option>
                    <option value="ao3">ArchiveOfOurOwn.org</option>
                    <option value="general">General Link</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="url">Enter Story URL:</label>
                <input type="text" id="url" name="url" required>
            </div>
            <br>
            <div class="form-group">
                <label for="dir_name">Enter Directory/Book Name:</label>
                <input type="text" id="dirname" name="dirname" required>
            </div>

            <button type="submit" class="form-button">Download</button>
        </form>
    </div>
</body>
</html>